<!DOCTYPE html>

<html lang="en">
<head>
    <title></title>
</head>
<body>
{% include "base.html" %}
{% block content %}
{% endblock %}
<center>
<h4>Devine Golf  är ett ungdomsföretag grundat av fyra golfintresserade vänner.
    Genom en kombination av vår erfarenhet och passion strävar vi efter att erbjuda golfare enastående utrustning och tillbehör till konkurrenskraftiga priser.
    Vi strävar efter att skapa en gemenskap på golfbanan.</h4>
    </center>
<p style="margin-top: 300px;">
{% include "footer.html" %}
</p>
</body>
</html>
