{% include "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produkter</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
</style>
</head>
<body class="w3-content" style="max-width:1800px">

  <!-- Top header -->
  <p style="margin-top: 20px;">
  <header class="w3-container w3-xlarge">
    <p class="w3-left">Handdukar</p>
    </p>
  </header>
</p>



    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="" style="width:100%">
        <p>DG "Clean your balls here" Svart<br><b>300kr</b></p>
      </div>
      <div class="w3-container">
        <img src="" style="width:100%">
        <p>DG "Clean your balls here" Marinblå<br><b>300kr</b></p>
      </div>
    </div>
<p style="margin-top: 270px;">
{% include "footer.html" %}
</p>
</body>
</html>








</head>

</html>

